#cart_item_div {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin-top: 50px; /* Adjust top margin as needed */
}

.product-list {
  list-style: none;
  display: flex; /* Use flexbox for horizontal alignment */
  padding: 0;
}

.product {
  margin: 0 10px; /* Adjust margin between items */
  text-align: center; /* Center align the content */
}

.product img {
  width: 100%; /* Adjust image width as needed */
  height: 100%; /* Adjust image height as needed */
  object-fit: cover; /* Ensure the image maintains aspect ratio */
}

#cart {
  display: flex; /* Use flexbox to arrange the divs */
  max-width: 100%; /* Limit the maximum width to the viewport width */
  justify-content: space-evenly;
  align-items: center;
}

#cart_item_div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /*flex: 0; !* Allow the item div to grow to fill available space *!*/
}

#cart_item_div img {
  max-width: 100%; /* Ensure the image doesn't overflow its container */
  height: auto; /* Maintain aspect ratio */
}

#cart_table th,
#cart_table td {
  padding: 10px; /* Add padding to table cells */
  text-align: center; /* Center-align the content */
}

#cart_table {
  flex: 1;
  /*margin-top: -5px;*/
}

#cart_purchase_div {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-start;
}

#cart div:last-child {
  /*flex: 0; !* Prevent the total div from growing *!*/
}

#cart_purchase_div p {
  margin: 5px 0; /* Add margin to the paragraphs */
}

#order-button {
  background-color: #DA2121;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Set the width to 100% */
  padding: 10px 70px; /* Add padding to the button */
  box-sizing: content-box; /* Include padding and border in the button's total width and height */
}

#order-button:hover {
  background-color: #b91212;
}

p {
  font-size: 18px;
}

#title {
  font-size: 32px;
}

.container {
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  overflow: auto; /* Add scrollbars when content overflows */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
