.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  height: 60px;
}

.navbar img {
  height: 64px;
  width: 64px;
  cursor: pointer;
}

.navbar svg {
  height: 24px;
  width: 24px;
  margin-right: 5px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 900px;
  background-color: #FFF;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  padding: 5px;
  height: 20px;
  width: 40%;
}

.search-bar input {
  outline: none;
  border: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-bar label {
  flex-grow: 1;
  width: 100%;
}

.search-bar button {
  color: #fff;
  background-color: #4070f4;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  font-size: 16px;
}

.search-bar button:hover {
  background-color: #2054e5;
}

.navbar-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: x-small;
}

.navbar-option {
  margin: 0 3px;
  font-size: 16px;
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
}
