table {
  width: 100%;
}
  
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

img {
  max-width: 100px; /* Adjust the maximum width of the image */
}
  
.purchase-sidebar{
    height:100%;
    width:200px;
    background-color: lavender;
    position:fixed!important;
    display:flex;
    flex-direction:column;

}


.bar-item {
    float:left;
    text-decoration: none;
}

/* Change opacity on hover */
.bar-item:hover {
    background-color:lightblue;
    opacity: 0.7; /* You can adjust the opacity level as needed */
}

.bar-button{
    background-color:transparent;
    padding:8px 8px;
    width:200px;
    border:none;
    cursor: pointer;
}

.purchase-sales-container{
    margin-left:200px;
}

.transactions-container{
    background-color:lightgrey;
    margin: 2em;
}